.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  10% {
    transform: translateY(-20px);
  }
  20% {
    transform: none;
  }
  30% {
    transform: translateY(-10px);
  }
  40% {
    transform: none;
  }
  50% {
    transform: translateY(-7px);
  }
  60% {
    transform: none;
  }
  70% {
    transform: translateY(-4px);
  }
  80% {
    transform: none;
  }
  90% {
    transform: translateY(-2px);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
  animation: notificationAnimation 3s ease-in-out infinite;
}

.nav__btn:last-child .nav__notification {
  width: 5px;
  height: 5px;
  left: 35px;
  bottom: 25px;
}
